 h4{
     text-align: center;
     padding: 0px;
     background-color:rgb(146, 178, 238); ;
 }
 .card img{
     height: 400px;
     width: 400px;
     padding: 80px;
     background-color:rgb(146, 178, 238) ;
 }
 .main{
     background-color: rgb(146, 178, 238);
 }
 .card-group{
     background:rgb(146, 178, 238);
     margin:0% ;
 }
 .card{
     background-color:rgb(146, 178, 238);
 }
 .card-img-top{
  background-color:rgb(146, 178, 238);
 }
 .card-body{
     background-color: rgb(146, 178, 238);
 }
 .container-fluid{
     background-color: rgb(146, 178, 238);
 }
